
.section {
  display: block;
  text-align: center;
  align-items: center;
  color: #373C47;
  margin: 20px 20px 20px 20px;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: #63C7B2;
  margin: 2px auto 0 auto;
}

.loading{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-jobs{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.buttons{
  display: flex;
  flex-direction: column;
  margin: 50px 20px 50px 0;
}

.btn-company{
  text-transform: capitalize;
  margin: 0 30px 30px 0;
  border-color: transparent;
  background-color: transparent;
  padding: 0 0 2px 0;
  font-weight: bold;
  color: #373C47;
  cursor:pointer;
}

.btn-company:hover{
  color: #63C7B2;
  border-left-width: 3px;
  border-left-color: #63C7B2;
}

.btn-company-active{
  color:#63C7B2;
}

.summary{
  display: flex;
  flex-direction: column;
  margin: 50px 0 50px 0;
  gap: 10px;
  color: #373C47;
  justify-content: flex-start;
}

.text{
  margin: 5px 5px 5px 5px;
  color: #373C47;
  text-align:start;
}

.jobtitle{
  text-transform:uppercase;
}
.company{
  background-color: #c2c8c8;
  padding:2px 2px 2px 2px;
  margin: 0;
  align-self: center;
  border-radius: 10%;
  opacity: 0.8;
}
.dates{
  font-weight: bold;
  color:#969a9a;
  font-size: smaller;
}
.duty-wrap{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.duty{
  margin: 0 0 10px 0;
}

.svg {
  width: 100px;
  color:#63C7B2;
  margin: 0 0 10px 0;
  align-self: center;
}

@media only screen and (min-width: 700px) {
  .section {
    width: 600px;
    margin: 40px 20px 20px 20px;
  }
  .btn-company{
      font-size: larger;
  }
  .summary{
    font-size: larger;
  }
  .duty{
      font-size:x-large;
  }
  .title{
    font-size:xx-large;
  }
}
.btn{
  color:#373C47;
  border-color: transparent;
  background-color:#63C7B2;
  text-transform: uppercase;
  padding: 0.5rem;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  outline: 1px solid #E2E9F9;
  cursor: pointer;
  box-shadow: var(--light-shadow);
  margin: 10px 0 0 0;
}

.btn:hover{
  transform: scale(1.5);
}